
<app-addproduit></app-addproduit>
<div>
    {{succesOuEchec}}
</div>

<table>
    <tr>
        <th>id</th>
        <th>nom</th>
        <th>prix</th>
        <th>description</th>
        <th>stock</th>
        <th>action</th>
    </tr>
    @for (item of properties ; track $index) 
    {
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.nom}}</td>
            <td>{{item.prix}} DH</td>
            <td>{{item.description}}</td>
            <td>{{item.quantiteStock}} U</td>
            <td> <button class="btn btn-danger" (click)="supprimerProduit(item.id)"> supprimer</button>
                <a routerLink="/produit/edit/{{item.id}}" class="btn btn-success"> Modifier </a>
            </td>

        </tr>
    }
    <Button class="btn " (click)="fetchPrevious()"> < </Button>
    <button class="btn" (click)="fetchNext()"> ></button>
</table>

