<app-navbar></app-navbar>
<form [formGroup]="produitForm" (ngSubmit)="updateFrom()" >

    <div class ='form-control'>
        <label for="Prix">Prix</label>
        <input id="prix"   formControlName='prix'  >
    </div>
    <div class ='form-control'>
        <label for="nom">Nom</label>
        <input id="nom" type="text" formControlName="nom"  >
    </div>
    <div class ='form-control'>
        <label for="description">description</label>
        <input id="description" type="text" formControlName="description" > 
    </div>
    <div class ='form-control'>
        <label for="quantite">quantite</label>
        <input id="quantite"  formControlName="quantite"  > 
    </div>

    <div class="example-button-row">
        <button type="submit" class="btn btn-success">Modifier</button>
       
        
      </div>


</form>