<div class="flex justify-content-center">
  <p-button (onClick)="ShowDialogBox()" label="Ajouter Produit" />
  <p-dialog
    header="Ajouter Produit"
    [modal]="true"
    [(visible)]="isVisible"
    [style]="{ width: '25rem' }"
  >
    <form
      [formGroup]="produitForm"
      (ngSubmit)="NewProduitSubmit()"
      class="p-4 bg-light"
    >
      <div class="form-group">
        <label for="prix">Prix</label>
        <input
          id="prix"
          type="text"
          formControlName="prix"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              produitForm.get('prix')?.invalid &&
              produitForm.get('prix')?.touched
          }"
        />
        <div
          *ngIf="
            produitForm.get('prix')?.invalid && produitForm.get('prix')?.touched
          "
          class="invalid-feedback"
        >
          {{ getErrorMessage("prix") }}
        </div>
      </div>

      <div class="form-group">
        <label for="nom">Nom</label>
        <input
          id="nom"
          type="text"
          formControlName="nom"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              produitForm.get('nom')?.invalid && produitForm.get('nom')?.touched
          }"
        />
        <div
          *ngIf="
            produitForm.get('nom')?.invalid && produitForm.get('nom')?.touched
          "
          class="invalid-feedback"
        >
          {{ getErrorMessage("nom") }}
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          formControlName="description"
          class="form-control"
          rows="3"
          [ngClass]="{
            'is-invalid':
              produitForm.get('description')?.invalid &&
              produitForm.get('description')?.touched
          }"
        ></textarea>
        <div
          *ngIf="
            produitForm.get('description')?.invalid &&
            produitForm.get('description')?.touched
          "
          class="invalid-feedback"
        >
          {{ getErrorMessage("description") }}
        </div>
      </div>

      <div class="form-group">
        <label for="quantite">Quantité</label>
        <input
          id="quantite"
          type="number"
          formControlName="quantite"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              produitForm.get('quantite')?.invalid &&
              produitForm.get('quantite')?.touched
          }"
        />
        <div
          *ngIf="
            produitForm.get('quantite')?.invalid &&
            produitForm.get('quantite')?.touched
          "
          class="invalid-feedback"
        >
          {{ getErrorMessage("quantite") }}
        </div>
      </div>

      <div class="text-right mt-4">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="produitForm.invalid"
        >
          Ajouter
        </button>
      </div>
    </form>

    <div *ngIf="errorAjout" class="alert alert-danger mt-3">
      {{ errorAjout }}
    </div>
  </p-dialog>
</div>
